

  .infoItem {
    font-size: 1em;
    font-weight: 500;
    padding: 5px 15px;
    margin:5px auto;
  /*   border-radius: 25px; */
    transition: all ease-in-out 0.24s;
    -webkit-transition: all ease-in-out 0.24s;
  /*   border-bottom: 1px solid white; */
    transform-style: preserve-3d;
  
  }
  
