

  <div class="row " style="margin-left: 30px;">
<div class="col-lg-12  w-100 "  >

  <h3>{{location.name}} , {{location.region}} , {{location.country}}</h3>   <i-feather name="heart" class="big" (click)="Add()"></i-feather>
</div>


  </div>
