.leftSideContainer {
    position: relative;
    width: 90%;
    height: 40%;
    border-radius: 25px;
    margin-left:65px !important; 
    background-image: url(https://images.unsplash.com/photo-1550236520-7050f3582da0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: calibri;
    transition: all ease-in-out .256s;
    transform: translateZ(500px) perspective(500px) scale(1.04);
    -webkit-transform:translateZ(500px) perspective(800px) scale(1.04);
    -o-transform: translateZ(500px) perspective(800px) scale(1.04);
    box-shadow: 0 0 8px -1px #262626;
    -webkit-box-shadow: 0 0 8px -1px #262626;
    border: none;
    float: left;
  /*   transform-style: preserve-3d;
   */
    
    transition: all cubic-bezier(.34,.85,.35,.86) 0.45s;
  }
  
  .leftSideContainer:hover {
    transform: translateZ(500px)  scale(1.08) perspective(20000px) rotateY(10deg) !important;
   
    -webkit-transform: translateZ(500px)  scale(1.08) perspective(20000px) rotateY(10deg) !important;
        box-shadow: 0 0 30px -1px #262626 !important;
      -webkit-box-shadow: 0 0 30px -1px #262626 !important;
    
      transform-style: preserve-3d !important;
  
  }
  
  .iconeDes{
  
    border-radius: 15px;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--gt);
    border-radius: 25px;
    opacity: 0.38;
  }
  
  .dateContainer {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .day {
    display: block;
    font-size: 40px;
    font-weight: 900;
  }
  .date {
    display: block;
    font-size: 18px;
  }
  .location {
    display: inline-block;
    padding-top: 10px;
  }
  .pin {
    display: inline-block;
    width: auto;
  /*   padding-top: 10px; */
      margin-right: 2px;
    height: 0.8em;
  }
  
  
  
  .LilInfoContainer {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
  
  .WeatherIcon {
    height: 100px;
    width: auto;
  }
  .MainDeg {
    display: block;
    font-size: 70px;
    font-weight: 900;
  }
  
  .Description {
    font-size: 1.4em;
  }