<div  class="leftSideContainer mt-4">
    <div class="bg"></div>
    <div class="dateContainer">
      <span class="day"> {{location.localtime  |  date:'cccc'}}<span class="date"> {{location.localtime  |  date:'yyyy MMMM dd'}}  {{location.localtime  |  date:'HH:mm'}}</span>
</span>
    </div>
    <div class="LilInfoContainer">
      <i class="WeatherIcon" data-feather="cloud"></i>
      <span class="MainDeg text-center" style="margin-left:7em">{{current?.temperature}}°</span>
    
       <span class="Description">  <img class="iconeDes" src='{{current?.weather_icons[0]}}'>  {{current?.weather_descriptions}} </span>  
    </div> 


<div class="col-3 " style="margin-left: 58em; margin-top: 9vh;">
   <div>
    <span class="Description">    <i-feather name="droplet" class="big"></i-feather>
         Humidity {{current?.humidity}} %</span>  
   </div> 
   <div>
    <span class="Description">    <i-feather name="slack" class="big"></i-feather>
        Pressure : {{current?.pressure}} <small>mb</small>  </span>  
   </div>
   <div>
    <span class="Description">     <i-feather name="wind" class="big"></i-feather>
        Wind speed: {{current?.wind_speed}} <small>km/h</small></span>  
   </div>

</div>

  </div>