 <div class="row w-50 text-center search  mt-3 ">
     <div class="col-10"> 
        <input type="text" class="w-100" [(ngModel)]='cityName'>
     </div>
     <div class="col-2 pl-2"> 
        <div class="change-btn-container"> 
            <button class="ChangeLocation" (click)="getW()" ><i class="pin" data-feather="map-pin"></i>
        Get Weather </button>
          </div> 
        
    </div>
</div>




 

