.search input {
background-color: transparent;
border: 1px solid #d7d4d4;
border-radius: 15px;
color:white ; 
margin-left: 25px;
padding: 10px 15px;
}
.ChangeLocation{
    width: 12em;
    margin-left: 30px;
    padding: 10px 15px;
    background-color: transparent;  
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 30px #311E42;
    cursor: pointer;
    transition: allcubic-bezier(.34,.85,.35,.86) 0.34s;
    -webkit-transition: all ease-in-out 0.24s;
    outline: none;
  
  }
  
  .ChangeLocation:hover {
    background-color: white;
    color: black;
    transform: scale(1.04) ;
    -webkit-transform: scale(1.04);
    box-shadow: 0 2px 10px #cdcdcc;
  }
  