.leftSideContainer {
    position: relative;
    width: 100%;
    height: 140%;
    border-radius: 25px;
    background-color:#7885ff;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: calibri;
    transition: all ease-in-out .256s;

    box-shadow: 0 0 8px -1px #262626;
    -webkit-box-shadow: 0 0 8px -1px #262626;
    border: none;
    float: left;
  /*   transform-style: preserve-3d;
   */
    
    transition: all cubic-bezier(.34,.85,.35,.86) 0.45s;
  }
  


