<div class="leftSideContainer">
    <div class="bg"></div>
    <div class="mt-5 text-center font-weight-bold ">
              <h2> Bookmarked Locations</h2>
    </div>
    
    <ul>

      <li  class="ml-5  mt-4 font-weight-bold "  *ngFor="let Bookmarked of listLocation ; let index = index; ">
        
     
        <h3 (click)="search(Bookmarked.name)"  > {{Bookmarked.name}} , {{Bookmarked.region}} , {{Bookmarked.country}} </h3>
        
        <i-feather name="x" class="small" (click)='delete(index)' ></i-feather>  
      </li>

    </ul>

  </div>