
            <div class="moreInfoContainer">

         
                <div class="row">
                    <app-weather-location [location]="location"> </app-weather-location>
                </div> 
              </div>
              <ng-container class="mt-3" *ngIf="current">
                <app-current-weather-data [current]="current" [location]="location" ></app-current-weather-data>

              </ng-container>
              <app-historical-weather-data  [historical]="historical" ></app-historical-weather-data>

