
  .moreInfoContainer {
    /*   position: absolute;
      top: 30px;
      right: 30px; */
      padding: 0 20px;
      margin-top: 2em;
    /*   padding-right: 10px; */
      width: 100%;
      height: auto;
      background-color: transparent;
      color: white;
    }
    
