


      .forecastContainer {
        width: 100%;
        display:flex;
          align-items: center;
          justify-content: center;
        padding: 0;
        margin: 30px 0 10px 0;
      
        
      }
      .forecastDayList {
        margin:0 auto;
        padding: 0;
        border-radius: 15px;
        background-color: transparent;
  
      
        
      }
      
      .forecastDay {
        float: left;
         width: 8vw; 
      
        text-align: center;
        margin: 15px;
        border-radius: 10px;
        padding: 20px;
        transition: all cubic-bezier(.34,.85,.35,.86) 0.34s;
        -webkit-transition: all cubic-bezier(.34,.85,.35,.86) 0.34s;
        box-shadow: 0 2px 30px #311E42;
       -webkit-box-shadow: 0 2px 30px #311E42;
    
      color: white;
        cursor: pointer;
        transform-style: preserve-3d;
      
      }
      
      .forecastDay > .feather {
        height: 70px;
        width: auto;
      }
      
      .forecastDay:hover {
        background-color: #F7F7F7;
        transform: scale(1.09) ;
        -webkit-transform: scale(1.09) ;
        color: black;
      }
      .forecastDay-Day {
        margin: 10px auto;
        font-size: 18px;
      }
      
      .forecastDay-Temp {
        font-size: 20px;
        font-weight: 700;
      }

      .clear {
        clear: both;
      }
      
.forecastDay-Day {
    margin: 10px auto;
    font-size: 18px;
  }
  
  .forecastDay-Temp {
    font-size: 20px;
    font-weight: 700;
  }
  




