<div class="forecastContainer">
<h3 style="margin-left:50px ; color:white">Last three days</h3>
    <ul class="forecastDayList">
    <li class="forecastDay">


      <div class="clear"></div>
      <span class="forecastDay-Day">
        {{lastOneDay.date |   date:'ccc'}}

      </span>
      <div class="clear"></div>
      <span class="forecastDay-Temp">
        min  {{lastOneDay.mintemp  }}°  <i-feather name="thermometer" class="big"></i-feather> 
      </span>
      <span class="forecastDay-Temp">
        min {{lastOneDay.maxtemp  }}°  <i-feather name="thermometer" class="big"></i-feather> 
      </span>
    <div class="clear"></div>
    </li>
    <li class="forecastDay">

      <div class="clear"></div>
      <span class="forecastDay-Day">
        {{lastTwoDay.date |   date:'ccc'}}

      </span>
      <div class="clear"></div>
      <span class="forecastDay-Temp">
        min {{lastTwoDay.mintemp  }} °  <i-feather name="thermometer" class="big"></i-feather> 
      </span>
      <span class="forecastDay-Temp">
        max {{lastTwoDay.maxtemp  }}°  <i-feather name="thermometer" class="big"></i-feather> 
      </span>
    <div class="clear"></div>
    </li>
    
   <li class="forecastDay">

      <div class="clear"></div>
      <span class="forecastDay-Day">
        {{lastThree.date |   date:'ccc'}}
      </span>
      <div class="clear"></div>
      <span class="forecastDay-Temp">
    min  {{lastThree.mintemp}}°   <i-feather name="thermometer" class="big"></i-feather>
      </span>

      <span class="forecastDay-Temp">
       max   {{lastThree.maxtemp}}°   <i-feather name="thermometer" class="big"></i-feather>  
      </span>
    <div class="clear"></div>
    </li>
    
    
  </ul>
  </div>