.rightSideContainer {
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    margin-left: 10px;
  }

  .front {
    position: relative;
    width: 100%;
    height: 140%; 
   background-color: #7885ff;
   border-radius: 25px;
   box-shadow: 0 1px 120px 0 #666666;
   transition: all cubic-bezier(.34,.85,.35,.86) .45s;

 
 
 }