<div class="row m-5" >
    <div class="col-3 " style="z-index: 4;">
        <app-bookmarked-locations></app-bookmarked-locations>
    </div>
    <div class="col-9 ">
        <div style="margin-left: -30px;" class=" front rightSideContainer">
       <app-search-bar ></app-search-bar>
       <div *ngIf="!preview" style='margin-left: 350px; margin-top:150px' class="spinner-border "></div>

       <ng-container *ngIf="preview" >
        <app-weather-data-preview [preview]="preview" ></app-weather-data-preview> 
       </ng-container>
       
        </div>
    </div>

</div>